<style>
  

	.rating {
			position :relative	;
			 width: 50%;
			 top: 220px;
 			 right: 340px;
			font-size: 40px;
			overflow:hidden;
		}
		.rating a,
    .rating label {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		.rating2 {
			direction: rtl;
		}
		.rating2 a {
			float:none
		}
</style>
	<div class="rating rating2 "><!--
  --><a href="#5" title="Give 5 stars">★</a><!--
  --><a href="#4" title="Give 4 stars">★</a><!--
  --><a href="#3" title="Give 3 stars">★</a><!--
  --><a href="#2" title="Give 2 stars">★</a><!--
  --><a href="#1" title="Give 1 star">★</a>
</div>
