<%- include("partials/header.ejs") %>
<script>
    var slideIndex = 0;showSlides();function showSlides(){var i;var slides = document.getElementsByClassName("mySlides");var dots = document.getElementsByClassName("dot");for (i = 0;i < slides.length;i++){slides[i].style.display = "none";}slideIndex++;if (slideIndex > slides.length){slideIndex = 1;}for (i = 0;i < dots.length;i++){dots[i].className = dots[i].className.replace(" active","");}slides[slideIndex-1].style.display = "block";dots[slideIndex-1].className += " active";setTimeout(showSlides,8000)};
</script>
<style >
    img{
       width: 100%;
    }
       </style>
        <%- include("partials/slide.ejs") %>
    
        <style >
            .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
            h1 {
                text-align: center;
                color: white;
}
            </style>
<h1 >กำลังฉาย</h1>
<a href="/prints"><img class="movie1-1-zWaSwW" src="/images/1.PNG" /> </a>



<%- include("partials/footer.ejs") %>