<%- include("partials/header.ejs") %>

<style >
    img{
       width: 100%;
    }
       </style>
        
<div>
    <a href="prints/62808aee40cea1e93d34181a"><img class="movie1-1-zWaSwW" src="/images/banner.jpg" /> </a>
    <a href="prints/62808aee40cea1e93d34181a"><img class="movie1-1-zWaSwW" src="/images/banner1.jpg" /> </a>
    <a href="prints/62808aee40cea1e93d34181a"><img class="movie1-1-zWaSwW" src="/images/banner2.jpg" /> </a>
</div>


<%- include("partials/footer.ejs") %>